body{
    background-color: #3b3b3b;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.page_title {
    margin: auto;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_header{
    text-shadow: black 2px 2px;
    filter: drop-shadow(2px 2px black);
    z-index: 10;
    width: 100%;
    position: fixed;
    top: 0px
}

.header_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: red;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 5px;
}

#end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    background-color: black;
    bottom: 0;
}

#end span{
    margin-right: 10px;
}

@media (max-width:820px){
     /* smartphones, Android phones, landscape iPhone */ 
     body{
        font-size: 15px;
    }

    .header_inner {
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }
}

@media (max-width:480px) {
    body{
        font-size: 11px;
    }
}







/* Navigation Bar CSS */
#main_nav{
    background-color: rgba(176, 178, 181, 0.4);
    
}

#main_nav li {
    padding: 5px;
}

#header_r{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(176, 178, 181, 0.4);;
}


#header_r li{
    margin-right: 10px;
    margin-left: 10px;
}

#header_r img{
    width: 30px;
    height: 25px;
}

/* Style for the hamburger icon */
#hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    display: none; /* Initially hide the icon on larger screens */
}


@media (max-width: 820px) {
    #main_nav,
    #header_r {
        display: none;
        width: 100%;
        text-align: center;
        background-color: rgba(176, 178, 181, 0.4);
    }

    #main_nav ul,
    #header_r ul {
        padding: 10px 0;
        margin: 0;
    }

    #main_nav li{
        border-bottom: 1px solid white;
    }

    #header_r img{
        width: 20px;
        height: auto;
    }

    #hamburger-icon {
        display: inline-block;
        width: 25px;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
        color: white;
        margin: 10px;
    }
}





/* index.html CSS */

#bg_main {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    font-size: 100px;
    text-shadow: black 5px 5px;
}

#bg_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bg_main img{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

@media (max-width:820px){
    #bg_main {
        font-size: 50px;
    }
}

@media (max-width:600px){
    #bg_main img{
        content: url(../IMAGE/Selen_Tatsuki_MobileBanner.png);
    }
}



/* streams.html CSS */
.content {
    margin-left: 5vh;
    margin-right: 5vh;
    height: 100%;
}

.lines {
    content: "";
    margin: auto;
    width: 100%;
    height: 2px;
    background: #B93429;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.content button{
    background-color: #B93429;
    color: white;
    padding: 15px 32px;
}

span.date{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.event_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event_name {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
}

@media (max-width:820px){       
    .content button{
        padding: 10px 20px;
    }
    
    span.date{
        font-size: 20px;
    }
    
    .event_name {
        font-size: 15px;
    }
}

@media (max-width:480px) {
    .content{
        height: 100vh;
    }

    .lines{
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .content button{
        padding: 5px 10px;
    }

    span.date{
        font-size: 15px;
    }

    .event_name{
        font-size: 12px;
    }
}





/* about.html CSS */
.about_content{
    background-color: black;
    width: 50vh;
    height: auto;
    margin: auto;
}

#portrait{
    width: 50vh;
    height: auto;
    margin: auto;
}

#portrait img{
    background-color: white;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-color: white;
    border-width: thin;
}

#info{
    align-items: center;
    border-style: solid;
    border-color: white;
    border-width: thin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#info div{
    width: 100%;
}

.info_title{
    font-weight: bold;
    font-size: 20px;
}

#personality{
    background-color: black;
    margin-left: 5vh;
    margin-right: 5vh;
    text-align: center;
}

#video{
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
    width: 100%;
    justify-content: space-around;
}

#video_wrap {
    text-align: center;
    background-color: #292829;
    width: 40%;
}

iframe{
    aspect-ratio: 16 /9;
    width: 100%;
}

@media (max-width:820px){
    .info_title{
        font-size: 10px;
    }

    .about_content{
        width: 30vh;
    }

    #portrait{
        width: 30vh
    }

    #video{
        flex-direction: column;
        align-items: center;
    }
}



/* newsfeed.html CSS */

#twitter {
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    width: 60%;
    padding: 10px;
    height: auto;
}

/* contact.html CSS */
.form-row {
    margin-bottom: 10px;
}

.form-input {
    display: block;
}

.form-error {
    color: red;
}

#show-popup{
    filter: drop-shadow(2px 2px black);
    background: none!important;
    border: none;
    padding: 0!important;
    color: white;
}

#show-popup:hover{
    color: red;
}

#popup-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#popup-form-container form {
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    margin: 30px auto;
}




