body{
    background-color: wheat;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    padding: 5px;
}

.header_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
